Pluggable Transport / NAT Handling

It would be nice to have pluggable Network Transport class. For example we're using NAT to reach IPP printers but IPP Packets contain the IP/port of the printer and this seems to cause issues on some actions (for example reading job status) since the real IP and port are not reachable by the client (they should be natted).


Hello, I did more tests and it seems there is an issue not directly related to NAT because it happens even when not using a natted connection.
The problem is that reading jobs on our Ricoh printer always return a 'client-error-bad-request' error. Using another IPP library (JIPP) works without errors. So there must be some difference in commands that are sent. I tried to debug the commands but only found that this library seems to be sending 'requesting-user-name' that the other library is not sending. I haven't been able to try to remove that attribute.

You can set IppConfig.userName to null to omit requesting-user-name in requests.
How exactly are you 'reading jobs'?
In case you use IppJob you could enable useJobUri to use its Uri and not its Id to identify the job.
You can send a request to another Uri by using IppClient.exchange(request, uri).
When using IppPrinter.getJobs try without requesting attributes (use null for requestedAttributes).
Please provide the source of the failing test case and debug logging output including the full request and response.



Let's assume the requested-attributes are causing 'client-error-bad-request' when calling [getJobs()](https://github.com/gmuth/ipp-client-kotlin/blob/4bef773d9fe4604c3e65e7af09aa4e0c8913bdff/src/main/kotlin/de/gmuth/ipp/client/IppPrinter.kt#L518).

The Printer should ignore any requested attribute or value that is not supported.
In case that Ricoh printer does not comply with [RFC 8011 Section 4.2.6.2](https://datatracker.ietf.org/doc/html/rfc8011#autoid-58), you can ..

1. not request any specific attributes (set requestedAttributes = null)
2. request only attributes supported by your printer (trial and error: e.g. "job-id", "job-state")

... when calling IppPrinter.getJobs().

I've [changed the behavior so, that only for CUPS specific job attributes are requested](https://github.com/gmuth/ipp-client-kotlin/commit/4bef773d9fe4604c3e65e7af09aa4e0c8913bdff) 


> You can set IppConfig.userName to null to omit requesting-user-name in requests. How exactly are you 'reading jobs'? In case you use IppJob you could enable useJobUri to use its Uri and not its Id to identify the job. You can send a request to another Uri by using IppClient.exchange(request, uri). When using IppPrinter.getJobs try without requesting attributes (use null for requestedAttributes). Please provide the source of the failing test case and debug logging output including the full request and response.

Hello and thanks for looking into the issue. This is the code I used to test (I was already setting null on the user name).

`
        IppClient ippClient = new IppClient();
        ippClient.setSaveMessages(true);
        logger.info("Start");
        IppConfig ippConfig = new IppConfig();
        ippConfig.setUserName(null);
        IppPrinter printer = new IppPrinter(new URI(printerURI), new IppAttributesGroup(IppTag.Printer), ippConfig, ippClient, false, null);
       logger.setLevel(Level.FINEST);
        IppJob job = printer.getJob(57);        
        logger.info("debug "+job.toString());

`

and this is the output


Aug 18, 2025 9:12:19 AM ipptest.IPPTest doWork
INFO: Start
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage saveBytes
INFO: Saved /var/folders/6l/ntjgjp7j1kl169twnb660q440000gn/T/16061090279248474905/20250818-091219/ipp-client_3.3 -- ipp_10.255.255.241_9014_ipp_print/091219285 #0001 Get-Job-Attributes = client-error-bad-request, 'client-error-bad-request'.req (176 bytes)
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage saveBytes
INFO: Saved /var/folders/6l/ntjgjp7j1kl169twnb660q440000gn/T/16061090279248474905/20250818-091219/ipp-client_3.3 -- ipp_10.255.255.241_9014_ipp_print/091219287 #0001 Get-Job-Attributes = client-error-bad-request, 'client-error-bad-request'.res (115 bytes)
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: 176 raw ipp bytes
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: version = 2.0
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: Get-Job-Attributes
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: request-id = 1
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST: operation group (5 attributes)
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   attributes-charset (charset) = utf-8
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   attributes-natural-language (naturalLanguage) = en
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   printer-uri (uri) = ipp://10.255.255.241:9014/ipp/print
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   requesting-user-name (nameWithoutLanguage) = andreavettori
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   job-id (integer) = 57
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppResponse log
WARNING: RESPONSE: httpServer = Web-Server/3.0
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: 115 raw ipp bytes
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: version = 2.0
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: client-error-bad-request
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: request-id = 1
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE: operation group (3 attributes)
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE:   attributes-charset (charset) = utf-8
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE:   attributes-natural-language (naturalLanguage) = en
Aug 18, 2025 9:12:19 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE:   status-message (textWithoutLanguage) = client-error-bad-request
Exception in thread "main" de.gmuth.ipp.client.IppOperationException: Get-Job-Attributes failed: 'client-error-bad-request', client-error-bad-request
	at de.gmuth.ipp.client.IppClient.validateIppResponse(IppClient.kt:168)
	at de.gmuth.ipp.client.IppClient.exchange(IppClient.kt:104)
	at de.gmuth.ipp.client.IppClient.exchange$default(IppClient.kt:88)
	at de.gmuth.ipp.client.IppPrinter.exchange(IppPrinter.kt:623)
	at de.gmuth.ipp.client.IppPrinter.exchangeForIppJob(IppPrinter.kt:627)
	at de.gmuth.ipp.client.IppPrinter.getJob(IppPrinter.kt:499)
	at ipptest.IPPTest.doWork(IPPTest.java:56)
	at ipptest.IPPTest.main(IPPTest.java:33)
/Users/andreavettori/Library/Caches/NetBeans/26/executor-snippets/run.xml:111: The following error occurred while executing this line:
/Users/andreavettori/Library/Caches/NetBeans/26/executor-snippets/run.xml:94: Java returned: 1


getJobs() works, it's the job details that don't.

It looks like the printer has no Job 57. So bad request means really 'bad job id'
This is okay according to RFC because printers do not have to remember jobs at all.
So even after printing some printers respond like this.

No, the job exists and JIPP founds it no problem... I just printed a new job and this is the output from the test. Please note that this time I'm using NAT so I used a custom IPPClient that rewrites the connection with the correct IP (see below the code).

Aug 19, 2025 9:00:53 AM ipptest.IPPTest doWork
INFO: Start
Aug 19, 2025 9:00:53 AM ipptest.MyIppClient httpPost
INFO: IPP Client URI :http://10.1.2.249:631/ipp/print rewrite to http://10.255.255.241:9015/ipp/print
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage saveBytes
INFO: Saved /var/folders/6l/ntjgjp7j1kl169twnb660q440000gn/T/15995100305331458201/20250819-090053/ipp-client_3.3 -- ipp_10.1.2.249_ipp_print/090053559 #0001 Get-Job-Attributes = client-error-bad-request, 'client-error-bad-request'.req (167 bytes)
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage saveBytes
INFO: Saved /var/folders/6l/ntjgjp7j1kl169twnb660q440000gn/T/15995100305331458201/20250819-090053/ipp-client_3.3 -- ipp_10.1.2.249_ipp_print/090053561 #0001 Get-Job-Attributes = client-error-bad-request, 'client-error-bad-request'.res (115 bytes)
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: 167 raw ipp bytes
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: version = 2.0
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: Get-Job-Attributes
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: REQUEST: request-id = 1
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST: operation group (5 attributes)
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   attributes-charset (charset) = utf-8
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   attributes-natural-language (naturalLanguage) = en
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   printer-uri (uri) = ipp://10.1.2.249/ipp/print
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   requesting-user-name (nameWithoutLanguage) = andreavettori
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: REQUEST:   job-id (integer) = 128
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppResponse log
WARNING: RESPONSE: httpServer = Web-Server/3.0
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: 115 raw ipp bytes
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: version = 2.0
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: client-error-bad-request
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppMessage log
WARNING: RESPONSE: request-id = 1
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE: operation group (3 attributes)
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE:   attributes-charset (charset) = utf-8
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE:   attributes-natural-language (naturalLanguage) = en
Aug 19, 2025 9:00:53 AM de.gmuth.ipp.core.IppAttributesGroup log
WARNING: RESPONSE:   status-message (textWithoutLanguage) = client-error-bad-request
Exception in thread "main" de.gmuth.ipp.client.IppOperationException: Get-Job-Attributes failed: 'client-error-bad-request', client-error-bad-request
	at de.gmuth.ipp.client.IppClient.validateIppResponse(IppClient.kt:168)
	at de.gmuth.ipp.client.IppClient.exchange(IppClient.kt:104)
	at de.gmuth.ipp.client.IppClient.exchange$default(IppClient.kt:88)
	at de.gmuth.ipp.client.IppPrinter.exchange(IppPrinter.kt:623)
	at de.gmuth.ipp.client.IppPrinter.exchangeForIppJob(IppPrinter.kt:627)
	at de.gmuth.ipp.client.IppPrinter.getJob(IppPrinter.kt:499)
	at ipptest.IPPTest.doWork(IPPTest.java:58)
	at ipptest.IPPTest.main(IPPTest.java:33)


This is the output from JIPP test

Aug 19, 2025 8:58:01 AM ipptest.JIPPTest doWork
INFO: Start
Aug 19, 2025 8:58:01 AM ipptest.JIPPTest doWork
INFO: request IppPacketData(packet=IppPacket(v=0x200, c=Get-Job-Attributes(9), r=0x1) [MutableAttributeGroup(operation-attributes, [attributes-charset=utf-8, attributes-natural-language=en-us, printer-uri=ipp://10.1.2.249/ipp/print, job-id=128])], data=null)
Aug 19, 2025 8:58:01 AM ipptest.JIPPTest doWork
INFO: response IppPacket(v=0x200, c=successful-ok(0), r=0x1) {
 operation-attributes {
  attributes-charset = "utf-8" (charset),
  attributes-natural-language = "en" (naturalLanguage),
  status-message = "successful-ok" (text) },
 job-attributes {
  job-uri = ipp://10.1.2.249/ipp/print/128,
  job-id = 128,
  job-printer-uri = ipp://10.1.2.249/ipp/print,
  job-name = "128" (name),
  job-originating-user-name = "andreavettori" (en-us name),
  job-state = completed(9),
  job-state-reasons = job-completed-successfully,
  job-state-message = "job-completed-successfully" (text),
  number-of-documents = 1,
  time-at-creation = 1983628,
  time-at-processing = 1983628,
  time-at-completed = 1983629,
  job-printer-up-time = 1983763,
  date-time-at-creation = 2025-08-19T08:55:43.000Z,
  date-time-at-processing = 2025-08-19T08:55:43.000Z,
  date-time-at-completed = 2025-08-19T08:55:58.000Z,
  number-of-intervening-jobs = 0,
  job-k-octets = 0,
  job-impressions = 0,
  job-media-sheets = 0,
  job-impressions-completed = 1,
  job-media-sheets-completed = 1,
  attributes-charset = "utf-8" (charset),
  attributes-natural-language = "en" (naturalLanguage),
  job-uuid = urn:uuid:007c7b1c-7cc9-11f0-a5a6-97997d7bb2da,
  job-priority = 50,
  job-hold-until = no-hold,
  job-sheets = none,
  multiple-document-handling = separate-documents-collated-copies,
  copies = 1,
  finishings = none(3),
  page-ranges = 1..1000,
  sides = one-sided,
  number-up = 1,
  orientation-requested = portrait(3),
  printer-resolution = 1200x1200 dpi(3),
  print-quality = normal(4),
  output-bin = auto,
  output-mode = color,
  print-color-mode = auto,
  print-scaling = auto,
  print-content-optimize = auto,
  overrides = { pages = 1..1000, printer-resolution = 1200x1200 dpi(3), document-numbers = 1..1 },
  media-col = 
   { media-type = auto, media-source = tray-1, media-left-margin = 420, media-right-margin = 420,
    media-top-margin = 420, media-bottom-margin = 420 } } }



Code for MyIPPClient

```
class MyIppClient extends IppClient {

    @Override
    public IppResponse httpPost(URI httpUri, IppRequest request) {        
        try {            
            // rewrite URI
            URI rUri = new URI(httpUri.getScheme(), httpUri.getUserInfo(), "10.255.255.241", 9015, httpUri.getPath(), httpUri.getQuery(), httpUri.getFragment());
            IPPTest.logger.info("IPP Client URI :"+httpUri.toString()+ " rewrite to "+rUri); 
            return super.httpPost(rUri, request);
        } catch (URISyntaxException ex) {
            IPPTest.logger.severe ("Exception in HttpPost "+ex.getMessage());
        }
        return null;
    }
    
}

```

class IppPrinter respects the RFCs. So I still think the printer does not hold a job for the id and requested printer-uri.
Your code does neither print nor get the job id via IPP.

You can use IppRequest and IppClient or your own Transport class if you want to implement non-RFC behavior. 
It's good you found a solution for our NAT setup and usecase.


Branch develop contains a [test case for your use case](https://github.com/gmuth/ipp-client-kotlin/blob/develop/src/test/kotlin/de/gmuth/ipp/client/issueNo40.kt) - please test it.